#title {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card {
    display: inline-block;
    width: 30%;
    height: 30%;
}

.container {
    margin: 0 20px;
}

img {
    width: 100%;
    height: 60%;
}

p {
    text-align: justify;
}

h4 {
    color: aqua;
}